<web-app>
    <servlet>
        <servlet-name>Ingreso</servlet-name>
        <servlet-class>FunciónMonolith.Ingreso</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ingreso</servlet-name>
        <url-pattern>/Ingreso</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Entrada</servlet-name>
        <servlet-class>FunciónMonolith.Entrada</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Entrada</servlet-name>
        <url-pattern>/Entrada</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IngresoActividad</servlet-name>
        <servlet-class>FunciónMonolith.IngresoActividad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IngresoActividad</servlet-name>
        <url-pattern>/IngresoActividad</url-pattern>
    </servlet-mapping>
</web-app>