

.contenedor-inputs{
    padding:30px;
}



.form-register{
    width:95%;
    max-width:900px;
    margin:auto;
    margin-top:80px;
    background-color:#fff;
    border-radius:7px;
}

.form-titulo{
   background:deepskyblue;
   color:#fff;
   padding:20px;
   text-align:center;
   font-weight:bold;
   font-size: 42px;
   border-top-left-radius:7px;
   border-top-right-radius:7px;
   border-bottom:5px solid crimson;
   
}

.entrada{
  margin-left:70px;
 
}

.contenedor-inputs{
    justify-content:space-between;
    display:flex;
    flex-wrap:wrap;
}

input{
    padding:6px;
   
}

.entrada{
    width:48%;
    margin-top:13px; 
    margin-bottom:13px; 
    font-weight:bold;
    text-height: max-size;
    font-size:24px;
    
}

label{
    width:48%;
    margin-bottom:40px;
}

.registro{
    background-color: crimson;
    color:#fff;
    margin:auto;
    padding:10px 40px;
    cursor:pointer;
}

.registro:active{
    transform:scale(1.5);
}

.registro:hover{
    background-color:#b1dfbb;
}


custom-checkbox {
  .icon {
    cursor: pointer;
  }

  .icon:before {
    content: '';
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 1px solid #bbb;
  }

  input[type="checkbox"] {
    display: none;

    &:checked ~ .icon:before {
      background: lightgreen;
    }
  }
}

label.error {
  color: red;
}



