*{
    box-sizing:border-box;
}

.contenedor-inputs{
    padding:30px;
}

body{
    margin:0;
    font-family:sans-serif;
    background-image:url(../img/chess.jpg);
    position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-image:url(../img/registermountain.jpg);
    padding-bottom:85px;
}
.barraInicio{
   background-color:#006080;
   color:azure;
   font-size:50px;
   font-family:sans-serif;
   text-align:left;
   width: 100%;
  
}

.logo{
    width:80px;
}

h1{
    color:#fff;
    text-align:center;
}

.form-register{
    width:95%;
    max-width:900px;
   
    margin:auto;
    margin-top:80px;
    background-color:#fff;
    border-radius:7px;
}

.Noencontrado{
    width:95%;
    max-width:900px;
    margin:auto;
    margin-top:80px;
    background-color:#fff;
    border-radius:7px;
}
.form-titulo{
   background:deepskyblue;
   color:#fff;
   padding:20px;
   text-align:center;
   font-weight:bold;
   font-size: 42px;
   border-top-left-radius:7px;
   border-top-right-radius:7px;
   border-bottom:5px solid crimson;
   
}
.entrada{
  margin-left:70px;
 
}

.contenedor-inputs{
    
    justify-content:space-between;
    display:flex;
    flex-wrap:wrap;
}

input{
    padding:6px;
   
}

.entrada{
    width:48%;
    margin-top:13px; 
    margin-bottom:13px; 
    font-weight:bold;
    text-height: max-size;
    font-size:24px;
    
}

label{
    width:48%;
    margin-bottom:40px;
}

.registro{
    background-color: crimson;
    color:#fff;
    margin:auto;
    padding:10px 40px;
    cursor:pointer;
}

.registro:active{
    transform:scale(1.5);
}

.registro:hover{
    background-color:#b1dfbb;
}


custom-checkbox {
  .icon {
    cursor: pointer;
  }

  .icon:before {
    content: '';
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 1px solid #bbb;
  }

  input[type="checkbox"] {
    display: none;

    &:checked ~ .icon:before {
      background: lightgreen;
    }
  }
}

label.error {
  color: red;
}