/* 
    Created on : 20/10/2017, 08:19:45 AM
    Author     : HawkWard
    Reference  : ConfiguracionCuenta.jsp
*/

body {
    margin:0;
    background-color: #f1f1f1;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(66, 145, 156);
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}


li a{
    float:left;
    display: block;
    color: white;
    text-align: center;
    padding-top: 14px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 14px;
    text-decoration: none;
    font-family: sans-serif;
}

li a:hover {
    background-color: #111;
}

li img{
    padding: 8px;
}

img {
    width: 40px;
}
