body,html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato",sans-serif;
    font-weigth:400;
    color:#666;
}

.barraInicio{
   background-color:#006080;
   color:azure;
   font-size:30px;
   font-family:sans-serif;
   text-align:left;
   width: 100%;
   height:45px;
}

.logo{
    width:80px;
    height:60px;
}

.pimg1, .pimg2{
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.pimg1{
    background-image:url(../img/building.jpg);
    min-height:100%;
}

.pimg2{
    background-image:url(../img/chess.jpg);
    min-height:100%;
}

.section{
    text-align:center;
    padding: 50px 80px;
    background-color:#1A405F;
    color:#fff;
}

.section h2{
   font-size:45px;
   padding-bottom:35px;
}

.section p{
   font-size:25px;
   padding-top:15px;
   padding-bottom:15px;
}


.ptext{
    position:absolute;
    top:40%;
    width:100%;
    text-align:center;
    font-weight: bold;
    color:#fff;
    font-size:50px;
    letter-spacing:8px;
    padding-bottom:15px;
}

.login{
    position:inherit;
    min-height:100%;
    top:30%;
    width:100%;
    padding-top:130px;
    padding-bottom:60px;
}

.loginBox{
   background: rgba(0,0,0,.5);
   margin-left:25%;
   margin-right:25%;
   max-width:1440px;
}

form{
    margin:auto;
    width:50%;
    padding-bottom:4%;
   padding-top:4%;
    max-width:1000px;
}

.user{
    width:200px;
    height:200px;
    border-radius:50%;
    overflow:auto;
    position:relative;
    top:calc(-230px/2);
    left:calc(50% - 90px);
}

.loginBox h2{
    margin:0;
    padding:0 0 30px;
    color:rgb(188,212,232);
    text-align:center;
    font-weight:bold;
    font-size:50px;
}

.loginBox p{
    margin:0;
    padding: 0;
    font-weight: bold;
    color:#fff;
    font-weight:bold;
    font-size:24px;
}

.loginBox input{
    width:100%;
    display:block;
    margin-bottom:50px;
}

.loginBox input[type="text"],
.loginBox input[type="password"]{
    border:none;
    display:block;
    border-bottom:1px solid #fff;
    background:transparent;
    outline:none;
    height:80px;
    color:#fff;
    font-size:24px;
    font-weight:bold;
}
::placeholder{
    color:rgba(225,255,255,.5);
}

.loginBox input[type="submit"]{
    border:none;
    outline:none;
    height:40px;
    color:#1f2e2e;
    font-size:24px;
    font-weight:bold;
    background:#e6ffff;
    cursor:pointer;
    border-radius:20px;
}

.loginBox input[type="submit"]:hover{
    background:#5d8989;
    color:#fff;
}

.loginBox button{
    width:100%;
    display:block;
    margin-bottom:50px;
    border:none;
    outline:none;
    height:40px;
    color:#1f2e2e;
    font-size:24px;
    font-weight:bold;
    background:#e6ffff;
    cursor:pointer;
    border-radius:20px;
}

.loginBox button:hover{
    background:#5d8989;
    color:#fff;
}

#nocuenta{
    padding-top:10%;
    padding-bottom:10%;
}

#registro{
    margin-bottom:40px;
}

.cola{
    margin-bottom:20px;
    margin-top:40px;
    height:120px;
}
.cola img{
    height:100px;
    width: 100px;
}

 .loginBox label.error {
  color: red;
}